*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.main{
    width: 100%;
    height: 100%;
    background-color: white;
}
div.main>img{
    width: 100%;
    height: 60px;
}
div.main>hr{
    color: #D0D0D0;
}
.main>.poshtibani{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 87vh;
    right: 45px;
    border-radius: 50%;
    background-color: #EF4056;
    text-align: center;
    z-index: 200;
}
.main>.poshtibani>a{
    text-decoration: none;
    position: relative;
    top :12px; 
}
.main>.market{
    width: 250px;
    height: 50px;
    border-radius: 25px;
    background-color: #029A49;
    position: fixed;
    top: 87vh;
    right: 80vw;
    z-index: 200;
}

.main>.market>a{
    text-decoration: none;
    position: relative;
    top :12px;
    color: white;
    right: 10px;
}
.main>.market>a>span{
    color: white;
    font-family: enter;
}
.main>.market>a>i{
    position: relative;
    top: 2px;
    right: 5px;
}
@font-face {
    font-family: digi ;
    src: url(../Digikala\ -_font.ttf);
}
@font-face {
    font-family:  enter;
    src: url(../font2/BYekan+.ttf);
}
#timer {
  font-size: 24px;
  background: #fff3e0;
  padding: 10px 5px;
  border-radius: 8px;
  display: inline-block;
  direction: ltr;
}
/*Mhs186*/