.main>.slider1{
  width: 100%;
  height: 400px;
  position: relative;
  top: 30px;
  background-color: white;
}
.slider1 .swiper {
  width: 100%;
  height: 100%;
}
.slider1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Mhs186*/